{% extends "base.html" %}

{% block title %} Profile {% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card mx-auto" style="max-width: 440px;">
            <div class="card-header text-center">
                <h3> Edit Profile </h3>
            </div>
            <div class="card-body">

                <form name="register-form" class="needs-validation" method="post" novalidate>
                    <input type="hidden" name="profile_picture" value="/static/img/logo.svg">

                    <div class="input-group my-2">
                        <div class="input-group-prepend"></div>
                        <div class="input-group-text"><i class="fas fa-signature"></i></div>
                        <input type="text" class="form-control" name="name" placeholder="Full name"
                            pattern="([a-zA-Z]{2,}\s[a-zA-Z]{1,}'?-?[a-zA-Z]{2,}\s?([a-zA-Z]{1,})?)$"
                            value="{{ current_user.name }}" required>
                        <div class="invalid-feedback"> A valid full name is required! </div>
                    </div>

                    <hr>

                    <div class="input-group my-2">
                        <div class="input-group-prepend"></div>
                        <div class="input-group-text"><i class="far fa-envelope"></i></div>
                        <input type="text" class="form-control" name="email" placeholder="E-Mail"
                            value="{{ current_user.email }}" pattern="[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}$"
                            readonly>
                        <div class="invalid-feedback"> A valid E-Mail is required! </div>
                    </div>

                    <hr>

                    <div class="input-group my-2">
                        <img src="{{ current_user.profile_picture }}" alt="pp" class="mx-auto" width="200" height="200"
                            id="profilepicimage" />
                        <div class="w-100 my-1"></div>
                        <div class="input-group-prepend"></div>
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                        <input type="text" class="form-control" name="profilepic" id="profilepicinput"
                            placeholder="{{ config['DEFAULT_PROFILE_PICTURE'] }}"
                            value="{{ current_user.profile_picture }}" required>
                        <div class="invalid-feedback"> Failed to load image! </div>
                    </div>

                    <hr>

                    <div class="input-group mt-4" style="height: 50px;">
                        <button class="btn btn-success w-100 h-100" type="submit">
                            <span><i class="fas fa-pencil-alt"></i> Commit Edits</span>
                        </button>
                    </div>

                </form>

                <hr>

                <div class="row mt-2 px-2">
                    <div class="px-1 col-6">
                        <a class="btn btn-secondary w-100 h-100" role="button" href="{{ url_for('auth.password') }}">
                            Change Password
                        </a>
                    </div>

                    <div class="px-1 col-6">
                        <a class="btn btn-secondary w-100 h-100" role="button"
                            href="{{ url_for('auth.two_factor_auth') }}">
                            2FA Settings
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}