:root {
    --text-color: #e1e1e1;
    --background-color: var(--bs-dark);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.card {
    color: #212529;
}

.profilepic {
    border-radius: 0.25rem;
}

.dropdown-toggle::after {
    display: none;
}

div.profile-sep {
    display: inline-block;
    margin: 10px 0;
}

.dark-mode-switch {
    position: fixed;
    bottom: 10px;
    left: 10px;
    border-radius: .75rem;
    border: solid 2px var(--bs-gray);
    background-color: var(--bs-gray-dark);
    color: white;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}