:root {
    --text-color: #e1e1e1;
    --background-color: var(--bs-dark);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

#file-dropzone {
    min-width: 100%;
    min-height: 400px;
}

{}

.card {
    color: #212529;
}

.profilepic {
    border-radius: 0.25rem;
}

.dropdown-toggle::after {
    display: none;
}

div.profile-sep {
    display: inline-block;
    margin: 10px 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

#loading-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 14, 14, 0.95);
}

.loading-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.item > .card {
    transition: 0.1s linear all;
    background-color: var(--text-color);

    pointer-events: none;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
}

.item.selected > .card {
    transition: 0.1s linear all;
    background-color: rgba(13, 202, 240, 0.32);
    color: #f8f9fa;
}

.loading-spinner div {
    animation: loading-spinner 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.loading-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: gray;
    margin: -4px 0 0 -4px;
}

.loading-spinner div:nth-child(1) {
    animation-delay: -0.036s;
}

.loading-spinner div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.loading-spinner div:nth-child(2) {
    animation-delay: -0.072s;
}

.loading-spinner div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.loading-spinner div:nth-child(3) {
    animation-delay: -0.108s;
}

.loading-spinner div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.loading-spinner div:nth-child(4) {
    animation-delay: -0.144s;
}

.loading-spinner div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.loading-spinner div:nth-child(5) {
    animation-delay: -0.18s;
}

.loading-spinner div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.loading-spinner div:nth-child(6) {
    animation-delay: -0.216s;
}

.loading-spinner div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.loading-spinner div:nth-child(7) {
    animation-delay: -0.252s;
}

.loading-spinner div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.loading-spinner div:nth-child(8) {
    animation-delay: -0.288s;
}

.loading-spinner div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#context-menu {
    position: fixed;
    z-index: 9999999;

    width: 15rem;
    padding: 3px;

    background-color: var(--bs-gray-dark);

    transform: scale(0);
    transform-origin: top left;
    transition: 0.1s ease-in-out;

    border-radius: .25rem;
}

#context-menu.active {
    transform: scale(1);
    transition: 0.1s ease-in-out;
}

#context-menu > .context-menu-item {
    padding: 0.2rem 0.5rem;
    font-size: 1.2rem;
    color: #E1E1E1FF;

    cursor: default;
    pointer-events: visible;
}

#context-menu > .context-menu-item:hover {
    background: rgba(199, 212, 222, 0.49);
}

#context-menu > .context-menu-item i {
    display: inline-block;
    margin-right: 0.4rem;
}