{% extends "emails/baseemail.html" %}

{% block title %} Password Reset {% endblock %}

{% block content %}

<div class="row justify-content-center" style="text-align: center;">
    <h3> Hello, {{ user.name }}! </h3>
    <p> There has been a request to reset your password. <br>
        If you didn't request your password to be reseted, you may ignore this message. <br>
        Otherwise, a link with a token which lasts for 10 minutes only has been generated. <br>
        Please click on the button to reset your password. </p>

    <a href="{{ url_for('auth.reset', _external=True, token=token) }}" role="button"
        class="mx-auto w-25 btn btn-success" style="min-height: 50px;">
        <div class="m-1"> Click here to reset your password </div>
    </a>
</div>


{% endblock %}